.dialogBtn{
    float: right;
    margin-top: 1rem;
  }
  .example-spacer{
      flex: 1 1 auto;
  }
  
  table {
      width: 100%;
    }
  
    //Contener Style (Center the contener)
    .contener{
      max-width: 1200px;
      margin: 0 auto;
    }

    .mat-mdc-form-field {
      font-size: 14px;
      width: 100%;
    }
    
    td, th {
      width: 25%;
    }
