<!-- <hr style="height:22px;border-width:0;color:gray;background-color:rgb(14, 14, 14)">
 -->
 <footer class="footer">
    <div class="contener">
        <div class="row">
            <div class="footer-col">

                <h4>Doctorate</h4>
                <ul>
                    <li><a href="">Über Doctorate</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Presse</a></li>
                    <li><a href="">Gesundheit</a></li>
                </ul>

            </div>

            <div class="footer-col">
                <h4>Helfe</h4>
                <ul>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">shipping</a></li>
                    <li><a href="">returns</a></li>
                    <li><a href="">order</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="">#</a></li>
                    <li><a href="">#</a></li>
                    <li><a href="">#</a></li>
                    <li><a href="">#</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>follw us</h4>
                <div class="social-links">
                    <li><a href="">#</a></li>
                    <li><a href="">#</a></li>
                    <li><a href="">#</a></li>
                    <li><a href="">#</a></li>
                </div>
            </div>

        </div>

    </div>

    <div class="copyright">
        <mat-divider></mat-divider>
        <p>Copyright © 2022 Doctor Rate, Alle Rechte vorbehalten.</p>
    </div>
    

</footer>