.card {
    max-width: 500px;
    display: block;
    padding: 1rem;
    margin: auto;
    margin-top: 5rem;
    
}

.btn {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.cardheader{
    padding-top: 20px;
    padding-left: 20px;

}